@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');  

body{
    text-align: center;
    background: rgb(255,170,204);
    background: linear-gradient(90deg, rgba(255,170,204,1) 25%, rgba(204,170,255,1) 61%);
}
ol.g>ol
{
	list-style: none;
  
}

#Show_Guests{
    margin-right: 40px;
}

h2{
    font-family: 'Boogaloo', cursive;
}

h1{
    font-family: 'Mate SC', serif;
}

#h3{
    font-family: 'Boogaloo', cursive;
}

#Guest_Names{
    font-family: 'Patrick Hand', cursive;
}

#Show_Guests{
    font-family: 'Patrick Hand', cursive;
}


button{
    background-color: #0d082b;
    color: white;
    font-family: 'Patrick Hand', cursive;
    border: none;
    height: 20px;
    width: 60px;
    border-radius: 5px;
    
}

button:hover{
    cursor: pointer;
}
input{
    background-color: transparent;
}
